h1{
    text-align: center;
}

#first_breadcrumb{
    margin-left: 10px;
}

#card_principal{
    text-align: center;
}

#canvas-container {
    width: 100%;
    text-align:center;
 }
 
.canvas {
    display: inline;
    background: #eee; 
    display: block; 
    margin: 0 auto;
}
      
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

#logofooter{
    padding-right: 3%;
}