h1{
    text-align: center;
}

#first_breadcrumb{
    margin-left: 10px;
}

#card_principal{
    text-align: center;
}

#canvas-container {
    width: 100%;
    text-align:center;
 }
 
.canvas {
    display: inline;
    background: #eee; 
    display: block; 
    margin: 0 auto;
}

.red.lighten-3 {
    background-color: #EF9A9A;
  }

#playbtn:hover{
    background-color: #F44336 !important;
}

@media only screen and (min-width: 768px) {
    footer{
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
    }
}

@media (max-width: 768px)  {
    footer{
        
        bottom:0;
        left:0;
        width:100%;
    }
}

#game_footer{
    position: relative;
}

#logofooter{
    padding-right: 3%;
}